<!DOCTYPE html>
<html>
<head>
  <title>{{ subject }}</title>
</head>
<body>
  <h1>{{ title }}</h1>
  
  <p>{{ message }}</p>
  
  <p>Thank you for your continued support!</p>
  
  <p>Sincerely,</p>
  <p>Team Name</p>
</body>
</html>
